{% extends 'base.html' %}
{% load static %} {% load widget_tweaks %} {% load bootstrap_pagination %}
{% block body %}

<style>
  ul.pagination {
    display: inline-block;
    margin-bottom: 20px;
  }

  .row {
    display: inline-block;
  }

  .book-card {
    width: 30%;
    display: inline-block;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    background: rgba(66, 59, 210, 1);
    height: 300px;
    width: 240px;
    margin: 5px 5px;
    position: relative;
    background-size: contain;
    filter: drop-shadow(5px 5px 4px rgba(68, 68, 221, 0.3));
  }

  .book-info {
    background-size: cover;
    color: #fff;
    vertical-align: top;
    position: absolute;
    padding: 20px;
    width: 240px;
    background: rgba(66, 59, 210, 0.8);
    border-radius: 5px 5px 0px 0px;
    height: 240px;
  }

  .book-title {
    font-weight: 800;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
  }

  .book-author {
    position: absolute;
    bottom: 15px;
  }

  .rating {
    vertical-align: bottom;
    padding: 20px;
    bottom: 0px;
    position: absolute;
    width: 240px;
    font-weight: 800;
    background: rgb(56, 49, 185);
    border-radius: 0px 0px 5px 5px;
  }

  ul.pagination li {
    border: solid 1px #352fa9;
    border-radius: 2px;
    color: #352fa9;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

  li.page-item.disabled li {
    border: solid 1px #352fa9;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

  ul.pagination li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  li.page-item.disabled span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  li.page-item.active span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  ul.pagination li:hover {
    color: #fff;
    background-color: #352fa9;
  }

  li.page-item.active {
    color: #fff;
    background-color: #352fa9;
  }

</style>

<div class="lg:flex h-full">
  <div class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-35 sm:text-center lg:text-center">
    <div class="sm:text-center lg:text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl dark:text-gray-200">
        <span class="block lg:inline">Tell us about your </span>
        <span class="block text-indigo-600 lg:inline dark:text-indigo-400">favourite books</span>
      </h1>
      <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-50 dark:text-gray-300">Please rate the books below in terms of how likely you'd be to read them. If you see one you have read, great! Let us know what you thought of it.</p>
      
      <div class="mt-8 lg:mr-50">

        <div class="inline-block">
           {% bootstrap_paginate books_paginated previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
        </div>

          {% for book in books_paginated %}
            <div class = "row">
              
              <!-- If the book has an image, make it appear on hover -->
              <div class = "book-card" style = "background-image: url({{ book.image_large }})">
                <div class = "book-info sm:text-left md text-left lg:text-left" >
                  <p class = "book-title">{{ book.title }}</p>
                  <p class = "book-author">By {{ book.author }}</p>
                </div>
                <div class = "rating">
                  RATING GOES HERE
                </div>
              </div>

            </div>
          {% endfor %}

          <div class="pt-4">
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-50 dark:text-gray-300">We'll use these ratings to recommend you and clubs you're in books that you'll love! The more books you rate, the more accurate our algorithm will be.</p>
          </div>
          <div class="pt-4">
            <button type="Book" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save preferences</button>
          </div>
          <div class="pt-10">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
