{% extends 'base.html' %}
{% load static %} {% load widget_tweaks %} {% load bootstrap_pagination %}
{% block body %}

<!-- <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}"> -->
<!-- <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script> -->

<style>
  ul.pagination {
    display: inline-flex;
  }
  ul.pagination li {
    padding: 5px;
  }
</style>

<div class="lg:flex h-full">
  <div class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-35 sm:text-center lg:text-center">
    <div class="sm:text-center lg:text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl dark:text-gray-200">
        <span class="block lg:inline">Tell us about your </span>
        <span class="block text-indigo-600 lg:inline dark:text-indigo-400">favourite books</span>
      </h1>
      <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-50 dark:text-gray-300">Please rate the books below in terms of how likely you'd be to read them. If you see one you have read, great! Let us know what you thought of it.</p>
      
      <div class="mt-8 lg:mr-50">

        <div class="inline-flex">
            {% bootstrap_paginate books_paginated previous_label="Prev" next_label="Next" show_first_last="true" %}
        </div>

        <div class="grid grid-flow-col gap-3">
            {% for book in books_paginated %}
              <div class="pt-4" style="background-image: url({{ book.image_small }})">
                  <p>{{ book.title }}</p>
                  <p>{{ book.author }}</p>
                  RATING GOES HERE
              </div>
            {% endfor %}
        </div>

        <div class="pt-4">
          <div class="pt-4">
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-50 dark:text-gray-300">We'll use these ratings to recommend you and clubs you're in books that you'll love! The more books you rate, the more accurate our algorithm will be.</p>
          </div>
          <div class="pt-4">
            <button type="Book" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save preferences</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
