{% extends 'base_content.html' %}
{% block content%}
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Calendar picker</h3>
  </div>

  <div class="">
    <div class="">
      <div class="mx-14 my-14">
        <form action="{% url 'calendar_picker'%}" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <br>
          <!-- Buttons -->
          <div class="flex flex-row-reverse items-end gap-5">
            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
              <input type="submit" value="Select"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
