{% extends 'club_base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
<style>

  a#continue-btn-disabled {
      pointer-events: none;
      background-color: #eee;
      color: #999;
  }

  ul.pagination {
    display: inline-block;
    margin-bottom: 20px;
  }

  form {
    display: contents;
  }

  .row {
    display: inline-flex;
  }

  ul.pagination li {
    border: solid 1px #352fa9;
    border-radius: 2px;
    color: #352fa9;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

 li.page-item.disabled li {
    border: solid 1px #eee;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #eee;
    color: #999;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

  ul.pagination li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  li.page-item.disabled span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #eee;
    border-color: #eee;
  }

  li.page-item.disabled li:hover{
    color: #999;
  }

  li.page-item.disabled span.page-link {
    color: #999;
  }

  li.page-item.disabled {
    border-color: #999;
  }

  li.page-item.active span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #4941e5;
    border: solid 1px #4941e5;
  }

  ul.pagination li:hover {
    color: #fff;
    background-color: #4941e5;
  }

  li.page-item.active {
    color: #fff;
    background-color: #4941e5;
    border: solid 0.1px #4941e5!important;
    border-radius: 2px;
  }

  .input-field {
    padding: 0px 0px 10px;
  }

  input[type="text"] {
    font-style: italic;
    border: solid 1px #352fa9;
    vertical-align: middle;
    border-radius: 5px;
    height: 40px;
    width: 30%;
  }

  .shadow-sm {
    vertical-align: middle;
    height: 40px;

    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
</style>

<div class="">
  <div class="">
    <!-- Applicants -->
    {% if list_of_applicants == True%}
    <div class="w-full">
      <h1>Pending applications for club: {{club.name}}</h1>
      <div class="mt-1 max-w-2xl text-sm text-gray-500">
        <p>There are {{users.count}} pending applications. Only the owner can approve them.</p>
      </div>
      {%if users%}
      {% include 'partials/club_users_as_table.html' with users=users club=club list_of_applicants=list_of_applicants%}

      <div class="flex justify-center">
        <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
          <div class="hidden md:-mt-px md:flex">
            <div class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">

              <div class="block">
                 {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
              </div>

            </div>
          </div>
        </nav>
      </div>
      {% endif %}

    </div>
    {% endif %}

    <!-- Members -->
    {% if list_of_members == True%}
    <div class="">
      <h1>Members in club: {{club.name}}</h1>
      {% if is_owner == True%}
      <div class="mt-1 max-w-2xl text-sm text-gray-500">
        <p>There are {{users.count}} club members. As the owner, you can transfer club ownership to any club member.</p>
      </div>
      {%if users%}
        {% include 'partials/club_users_as_table.html' with users=users club=club is_owner=is_owner list_of_members=list_of_members%}
        <div class="flex justify-center">
          <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
            <div class="hidden md:-mt-px md:flex">
              <div class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">

                <div class="block">
                   {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
                </div>

              </div>
            </div>
          </nav>
        </div>
      {% endif %}

      {% else %}
      <div class="mt-1 max-w-2xl text-sm text-gray-500">
        <p>There are {{users.count}} club members.</p>
      </div>
      {%if users%}
        {% include 'partials/club_users_as_table.html' with users=users club=club %}
        <div class="flex justify-center">
          <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
            <div class="hidden md:-mt-px md:flex">
              <div class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">

                <div class="block">
                   {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
                </div>

              </div>
            </div>
          </nav>
        </div>
      {% endif %}
      {% endif %}
    </div>
    {% endif %}



  </div>
</div>
{% endblock %}
