{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
{% load widget_tweaks %}
<style>

  a#continue-btn-disabled {
      pointer-events: none;
      background-color: #eee;
      color: #999;
  }

  ul.pagination {
    display: inline-block;
    margin-bottom: 20px;
  }

  form {
    display: contents;
  }

  .row {
    display: inline-flex;
  }

  ul.pagination li {
    border: solid 1px #352fa9;
    border-radius: 2px;
    color: #352fa9;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

 li.page-item.disabled li {
    border: solid 1px #eee;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #eee;
    color: #999;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

  ul.pagination li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  li.page-item.disabled span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #eee;
    border-color: #eee;
  }

  li.page-item.disabled li:hover{
    color: #999;
  }

  li.page-item.disabled span.page-link {
    color: #999;
  }

  li.page-item.disabled {
    border-color: #999;
  }

  li.page-item.active span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #4941e5;
    border: solid 1px #4941e5;
  }

  ul.pagination li:hover {
    color: #fff;
    background-color: #4941e5;
  }

  li.page-item.active {
    color: #fff;
    background-color: #4941e5;
    border: solid 0.1px #4941e5!important;
    border-radius: 2px;
  }

  .input-field {
    padding: 0px 0px 10px;
  }

  input[type="text"] {
    font-style: italic;
    border: solid 1px #352fa9;
    vertical-align: middle;
    border-radius: 5px;
    height: 40px;
    width: 30%;
  }

</style>

<h1 class="text-4xl tracking-tight text-center mt-12 mt font-semibold text-gray-700">Message Board For <span class="text-indigo-600 font-bold">{{club.name}}</span></h1>
<div class="max-w-xl mx-auto lg:mx-0 lg:flex lg:max-w-none mt-4 p-4 lg:p-0">
  <div class="lg:flex-auto lg:relative lg:mx-8">
    <!-- New post form -->
    <div class="lg:absolute lg:right-0 lg:max-w-sm">
      <form action="{% url 'club_feed_create' club.id %}" method="post" class="">
        {% for field in form %}
        <div class="">
          <label class="block text-sm font-medium text-gray-700  dark:text-gray-50">
            {{ field.label_tag }}
          </label>
          <div class="mt-1">
            {{ field|add_class:"w-full h-24 block px-3 py-2 shadow-sm border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"}}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="mt-4 w-32 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post</button>
      </form>
    </div>
  </div>

  <div class="mt-12 lg:mt-0 lg:flex-auto lg:max-w-lg lg:pt-2">
    {% if not posts %}
    <h1 class="text-center">
      No posts made yet!
    </h1>

    {% else %}
    <div class="">
      <!-- List of club posts -->
      {% include 'partials/posts.html' with posts=posts %}
      <!-- Pagination  -->
    </div>
    {% endif %}
    
  </div>
  
  <div class="lg:flex-auto lg:w--[24rem]"></div>
</div>

<div class="block mx-auto max-w-fit">
  {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
</div>
  
{% endblock %}
  