{% extends 'club_base_content.html' %}
{% load i18n %}
{% load get_club_user_id %}
{% load club_user_role_num %}
{% load book_rated %}
{% block content%}
{% get_club_user_id club user as club_user_id %}
{% club_user_role_num club user as role_num %}

<script>
  function showLoaderOnClick(url) {
      showLoader();
      window.location=url;
  }
  function showLoader(){
    $('body').append(
      `<div style="" id="loading">
        <div id="loading-inner" class="text-center">
          <svg class="mx-auto h-24 w-24 animate-spin text-indigo-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <h1 class="mt-8 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200 sm:text-5xl md:text-6xl">We are just getting your recommendations</h1>
          <p id="loading-subheader" class="lg:mx-50 font-nunito mt-3 text-base text-gray-500 dark:text-gray-300 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl">Our recommenders can take up to a minute to figure you out. Fear not, this normally only happens on your first time.</p>
        </div>
      </div>`
    );
  }
</script>

<style>
  #loading {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #f5f3ff;
  z-index: 99;
  }

  #loading-inner {
    margin-top: 10%;
  }

  #loading-subheader {
    font-size: 25px;
    line-height: 37px;
    margin-top: 40px;
    max-width: 55rem;
  }

  #loading-image {
    margin: auto;
    top: 100px;
    z-index: 100;
  }
</style>

<div class="h-auto flex items-center justify-center flex-grow">

  <card class="mt-6 flex flex-col rounded-lg shadow-lg w-2/3 p-10 bg-violet-100">

    <!-- Title -->
    <p class="text-center text-gray-800 text-4xl mt-8">{{club.name}}</p>

    <!-- Description -->
    <div class="text-gray-700 font-light mt-5">
      <p>Location: {{club.location}}</p>
      <p>Description: {{club.description}}</p>
      <p>Calendar: {{club.calendar}}</p>
      <p>Meeting type: {{club.get_meeting_type_display}}</p>
      <p>
        Owner:
        <span>
          <a href="{% url 'user_detail' club.owner.id %}" class="text-indigo-600 hover:text-indigo-900">{{club.owner.full_name}}</a>
        </span>
      </p>
    </div>

    <div class="">
      <h3 class="text-lg leading-6 font-medium text-gray-900"></h3>
      <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-1 md:divide-y-0 md:divide-x">
        <!-- Club actions -->
        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">Go to club's calendar</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              {{club.calendar}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'full_calendar' club.calendar.slug%}' class="">Calendar</a>
              </div>
            </div>
          </dd>
        </div>

        {%if role_num == None%}
        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">Your application</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Create application to {{club.name}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'apply' club.id %}' class="">Apply</a>
              </div>
            </div>
          </dd>
        </div>
        {%endif%}

        {%if role_num == '1'%}
        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">Your application</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Withdraw application to {{club.name}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'delete_club_user' club_user_id %}' class="">Withdraw application</a>
              </div>
            </div>
          </dd>
        </div>
        {%endif%}

        {%if role_num == '2'%}
          {%if club.currently_reading is not None%}
          <div class="px-4 py-5 sm:p-6">
            <dt class="text-base font-normal text-gray-900">{{club.name}}'s currently reading</dt>
            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
              <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                {{club.currently_reading}}
              </div>

              <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
                <form action="{% url 'rate_book' club.currently_reading.id%}" method="post">
                  {% csrf_token %}
                  <div class = "rating">
                      <p>{% book_rated club.currently_reading user%}</p>
                      {{ form }}
                      <button type="submit" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                  </div>
                </form>
              </div>
            </dd>
          </div>
          {% endif %}

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s Message Board</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Make and view posts
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'club_feed' club.id %}' class="">{{club.name}}'s Message Board</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s members</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              View members
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'member_list' club.id %}' class="">List of members</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">Your membership</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Leave club {{club.name}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'delete_club_user' club_user_id %}' class="">Leave</a>
              </div>
            </div>
          </dd>
        </div>
        {%endif%}

        {%if role_num == '4'%}

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s Message Board</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Make and view posts
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'club_feed' club.id %}' class="">{{club.name}}'s Message Board</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s applications</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Approve applications
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'applicant_list' club.id %}' class="">List of applicants</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s members</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Transfer ownership
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{%url 'member_list' club.id %}' class="">List of members</a>
              </div>
            </div>
          </dd>
        </div>

        {%if club.currently_reading is not None%}
        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s currently reading</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              {{club.currently_reading}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <form action="{% url 'rate_book' club.currently_reading.id%}" method="post">
                {% csrf_token %}
                <div class = "rating">
                    <p>{% book_rated club.currently_reading user%}</p>
                    {{ form }}
                    <button type="submit" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                </div>
              </form>
            </div>
          </dd>
        </div>
        {% endif %}

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s reading next</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Select new book
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href="#" onclick="showLoaderOnClick('{% url 'club_book_recommendations' club.id %}')">Club's book recommendations</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">{{club.name}}'s Details</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Edit club details
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'club_update' club.id %}' class="">Edit club</a>
              </div>
            </div>
          </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">Delete</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Delete {{club.name}}
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'club_delete' club.id %}' class="">Delete club</a>
              </div>
            </div>
          </dd>
        </div>
        {%endif%}

        <div class="px-4 py-5 sm:p-6">
          <dt class="text-base font-normal text-gray-900">View the list of all clubs on the site</dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              Club Index
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium  md:mt-2 lg:mt-0">
              <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
                <a href='{% url 'club_list' %}' class="">Club Index</a>
              </div>
            </div>
          </dd>
        </div>


      </dl>
    </div>

  </card>

</div>

{% endblock %}
