{% extends "base_content.html" %}
{% load bootstrap_pagination %}
{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Clubs</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all existing clubs.</p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
        <a href='{% url 'new_club' %}' class="">Create a new club</a>
      </div>
    </div>
  </div>

  <!-- Search... -->
  <div class="mt-4">
    <form method="GET" >
      <div class="input-field">
          <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter club name or location">
          <button type="submit" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Search</button>
      </div>
    </form>
  </div>

  {%if clubs%}
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <div class="shadow-sm ring-1 ring-black ring-opacity-5">
          {% include "partials/clubs_table.html" with clubs=clubs %}
          <div class="flex justify-center">
            <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
              <div class="hidden md:-mt-px md:flex">
                <div class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">

                  <div class="block">
                     {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
                  </div>

                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
  {%else%}
  <p>No clubs to show.</p>
  {%endif%}

</div>
{%endblock%}
