{% extends "base_content.html" %}
{% load bootstrap_pagination %}
{% block content %}
<title>
  {% block title %}
  | Club List
  {% endblock %}
</title>
<form method="GET" >
  <div class="input-field">
      <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter club name or location">
      <button type="submit" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Search</button>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="col-12">
      {% if not clubs %}
        <pre>



        </pre>
        <h1 style="text-align:center">No existing clubs! Why not create your own book club!</h1>
        <div class="row-12" style="text-align:center">
          <h3 class="text-center"> Don't want to join an existing club? Why not create a new club yourself!</h1>
            <a href='{% url 'new_club' %}' class="btn btn-lg btn-primary">
              Create New Club
            </a>
        </div>
      {% else %}
      {% include "partials/temp_club_list.html" with clubs=clubs %}
      <div class="row-12" style="text-align:center">
        <h3 class="text-center"> Don't want to join an existing club? Why not create a new club yourself!</h1>
          <a href='{% url 'new_club' %}' class="btn btn-lg btn-primary">
            Create New Club
          </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  {% bootstrap_paginate page_obj range=10 show_first_last="true"%}
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center">
        {% block head %}
        {% endblock %}
      </h1>
    </div>
  </div>
</div>
{% endblock %}
