{% extends 'base_content.html' %}
{% load i18n %}
{% block content%}
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Delete {{membership_type}}</h3>
     <p class="mt-1 max-w-2xl text-sm text-gray-500">You will be deleting {{membership_type}} for {{user}} in {{club}}.</p>
  </div>

  <div class="">
    <div class="">
      <div class="mx-14 my-14">
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <br>
          <!-- Buttons -->
          <div class="flex flex-row-reverse items-end gap-5">

            <div class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" style="cursor: pointer;">
              <a href="{{ view.get_cancel_url }}" class="">Cancel</a>
            </div>


            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
              <input type="submit" value="Confirm">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
