{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      <h1>Delete User Account</h1>
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
                <p>Are you sure you want to delete your account?</p>
                <p>This will permanently delete your profile and any content you have generated.</p>
                {{ form }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-danger" type="submit">Delete Account</button>
                  <a class="btn btn-primary-custom" style="float:right;"
                     href="{% url 'user_detail' %}">Cancel</a>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
