{% extends 'base_content.html' %}
{% load i18n %}
{% block content%}
<div class="h-screen flex items-center justify-center">

  <card class="flex flex-col rounded-lg shadow-lg w-1/2 p-10 bg-violet-100">

    <!-- Title -->
    <p class="text-center text-gray-800 text-4xl mt-8">{{event.title}}</p>

    <!-- Description -->
    <div class="text-gray-700 font-light mt-5">
      <p>Start: {{event.start}}</p>
      <p>End: {{event.end}}</p>
      <p>Calendar: {{event.calendar}}</p>
      <p>Event meeting at: {{meeting_at}}</p>
      <p>Description: {{event.description}}</p>
    </div>

    <!-- Buttons -->
    <div class="flex flex-row-reverse mt-14 items-end gap-5">
      {% if user_is_owner %}
      <div class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick="location.href='{%url 'delete_event' calendar_slug=event.calendar.slug event_id=event.id %}';" style="cursor: pointer;">
        <p>Delete event</p>
      </div>

      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='{%url 'edit_event' calendar_slug=event.calendar.slug event_id=event.id %}';" style="cursor: pointer;">
        <p>Edit event</p>
      </div>
      {% endif %}

    </div>

  </card>

</div>
{% endblock %}
