{% extends 'base_content.html' %}
{% block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Events for {{ club.name }} are {{ club.meeting_type }}</h1>
      <form action="{% url 'create_event' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=extended_meeting_form %}
        <input type="submit" value="Confirm and continue" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
