{% extends "base_content.html" %}
{% load i18n static %}
{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'schedule.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'css/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'schedule.js' %}"></script>
<script type='text/javascript' src="{% static 'js/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'js/fullcalendar.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'partials/fullcalendar_menu.html' with calendar=calendar%}

<div class="flex items-center justify-center">

  <card id="calendar" class="flex flex-col rounded-lg w-3/4 p-10 ">


  </card>

</div>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/schedule/api/occurrences?calendar_slug=' + '{{calendar.slug}}'
    })

});
</script>

{% endblock %}
