{% extends "base_content.html" %}

{% load i18n static %}
{% block rtab_id %}id="schedule_tab"{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}
{% block extra_head %}
  <script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
  <link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/themes/ui-darkness/jquery-ui.css' %}" />
  <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
  <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
  <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'partials/fullcalendar_menu.html' with calendar=calendar%}

<div id="calendar"></div>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/schedule/api/occurrences?calendar_slug=' + '{{calendar.slug}}'
    })

});
</script>

{% endblock %}
