{% extends 'base_content.html' %}
{% load i18n %}
{% load event_meeting %}
{% block content%}
<div>
  <div>
    <p>Title: {{event.title}}</p>
    <p>Start: {{event.start}}</p>
    <p>End: {{event.end}}</p>
    <p>End of recurring period: {{event.end_recurring_period}}</p>
    <p>Rule: {{event.rule}}</p>
    <p>calendar: {{event.calendar}}</p>
    <p>Event meeting at: {% event_meeting event %}</p>
    <p>Description: {{event.description}}</p>

  </div>
</div>

<div onclick="location.href='{%url 'edit_event' calendar_slug=event.calendar.slug event_id=event.id %}';" style="cursor: pointer;">
  <p>Edit event</p>
</div>

<div onclick="location.href='{%url 'delete_event' calendar_slug=event.calendar.slug event_id=event.id %}';" style="cursor: pointer;">
  <p>Delete event</p>
</div>
{% endblock %}
