{% extends "user_summary.html" %}
{% load bootstrap_pagination %}
{% block summary_content %}
<style>

  a#continue-btn-disabled {
      pointer-events: none;
      background-color: #eee;
      color: #999;
  }

  ul.pagination {
    display: inline-block;
    margin-bottom: 20px;
  }

  form {
    display: contents;
  }

  .row {
    display: inline-flex;
  }

  ul.pagination li {
    border: solid 1px #352fa9;
    border-radius: 2px;
    color: #352fa9;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

 li.page-item.disabled li {
    border: solid 1px #eee;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #eee;
    color: #999;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
  }

  ul.pagination li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
  }

  li.page-item.disabled span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #eee;
    border-color: #eee;
  }

  li.page-item.disabled li:hover{
    color: #999;
  }

  li.page-item.disabled span.page-link {
    color: #999;
  }

  li.page-item.disabled {
    border-color: #999;
  }

  li.page-item.active span.page-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #4941e5;
    border: solid 1px #4941e5;
  }

  ul.pagination li:hover {
    color: #fff;
    background-color: #4941e5;
  }

  li.page-item.active {
    color: #fff;
    background-color: #4941e5;
    border: solid 0.1px #4941e5!important;
    border-radius: 2px;
  }

  .input-field {
    padding: 0px 0px 10px;
  }

  input[type="text"] {
    font-style: italic;
    border: solid 1px #352fa9;
    vertical-align: middle;
    border-radius: 5px;
    height: 40px;
    width: 30%;
  }

  .shadow-sm {
    vertical-align: middle;
    height: 40px;

    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
</style>
<title>
  {% block title %}
  | Club List
  {% endblock %}
</title>

<div class="px-4 sm:px-6 lg:px-8">

  {%if role_num == '4'%}
  <div class="mt-4 sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"></h1>
      <p class="mt-2 text-sm text-gray-700"></p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;">
        <a href='{% url 'new_club' %}' class="">Create a new club</a>
      </div>
    </div>
  </div>
  {%endif%}

  <!-- Search... -->
  <div class="mt-4">
    <form method="GET" >
      <div class="input-field">
          <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter club name or location">
          <button type="submit" class="justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Search</button>
      </div>
    </form>
  </div>

  {%if clubs%}
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <div class="shadow-sm ring-1 ring-black ring-opacity-5">
          {% include "partials/clubs_table.html" with clubs=clubs %}
          <div class="flex justify-center">
            <nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
              <div class="hidden md:-mt-px md:flex">
                <div class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">

                  <div class="block">
                     {% bootstrap_paginate page_obj previous_label="Prev" next_label="Next" show_first_last="true" range="10"%}
                  </div>

                </div>
              </div>
            </nav>
        </div>
        </div>
      </div>

    </div>
  </div>
  {%else%}
  <p>No clubs to show.</p>
  {%endif%}


</div>





{% endblock %}
