{# {% extends 'base_content.html' %} #}
{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      <h1>Book Club | User Profile Page</h1>
          <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle profile-image" >
          <div class="profile-text">
            <h4>Username:</h4>
            <h3 class="profile-title">{{ user.username }}</h3>
            <h4>First Name:</h4>
            <h3 class="profile-title">{{ user.first_name }}</h3>
            <h4>Last Name:</h4>
            <h3 class="profile-title">{{ user.last_name }}</h3>
            <h4>Email Address:</h4>
            <h3 class="profile-title">{{ user.email }}</h3>
            <h4>Bio:</h4>
            <h3 class="profile-title">{{ user.bio }}</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
