.custom-btn {
  background: blue;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: white;
}

.custom-btn:hover {
  background: blue;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: white;
  border-color: silver;
  border-width: 0.1rem;
}
