{% load humanize %}
{% for comment in comments %}
<div class="flex py-4 bg-indigo-200/50 rounded p-4 m-4 border border-indigo-500/10">
  <div class="flex-shrink-0">
    <img
      src="{{comment.author.mini_gravatar}}"
      alt="Gravatar of author {{ comment.author.username }}"
      class="rounded w-20 h-20"
    />
  </div>
  <div class="p-2">
    <p class="text-sm">
      <span class="italic"> {{ comment.author.full_name }} </span>
      <a class="text-indigo-400" href="{% url 'user_detail' comment.author.id %}"> {{ comment.author.username }} </a>
      &nbsp;&middot;&nbsp;
      <span class="whitespace-nowrap font-light text-gray-600"> {{ comment.created_at|naturaltime }} </span>
    </p>
    <p class="text-lg font-semibold text-gray-700">{{ comment.text }}</p>
  </div>
</div>
{% endfor %}