{% load humanize %}
<div class="flex py-4">
  <div class="flex-shrink-0">
    <img
      src="{{post.author.mini_gravatar}}"
      alt="Gravatar of author {{ post.author.username }}"
      class="rounded"
    />
  </div>
  <div class="p-2">
    <p class="text-sm">
      <span class="italic"> {{ post.author.full_name }} </span>
      <a class="text-indigo-400" href="{% url 'user_detail' post.author.id %}"> {{ post.author.username }} </a>
      &nbsp;&middot;&nbsp;
      <span class="whitespace-nowrap font-light text-gray-600"> {{ post.created_at|naturaltime }} </span>
    </p>
    <p class="text-lg">{{ post.text }}</p>
    <a href="{%url 'club_feed_post' club.id post.id %}" class="text-indigo-600 hover:text-indigo-900">
      View comments <span>({{post.comments.count}})</span>
    </a>
  </div>
</div>
