{% load humanize %}
<div class="mb-6 last:mb-0 flex">
  <div class="flex-shrink-0">
    <img
      src="{{post.author.mini_gravatar}}"
      alt="Gravatar of author {{ post.author.username }}"
      class="rounded"
    />
  </div>
  <div class="p-2">
    <p class="text-sm">
      <span class="italic"> {{ post.author.full_name }} </span>
      <span class="text-indigo-400"> {{ post.author.username }} </span>
      &nbsp;&middot;&nbsp;
      <span> {{ post.created_at|naturaltime }} </span>
    </p>
    <p class="text-lg">{{ post.text }}</p>
  </div>
</div>
