{% comment %} New Code {% endcomment %}

<div class="flex space-x-4">
  {% if page_obj.has_other_pages %}
  <a href="?page={{ page_obj.previous_page_number }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
  </a>
  <a href="?page={{ page_obj.next_page_number }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
    </svg>
  </a>
  {% endif %}
</div>

{% comment %} Old code, used for reference when fixing in future {% endcomment %}
{% comment %}
<nav aria-label="pager">
  <ul class="">
    {% if page_obj.has_other_pages %}
      {% if page_obj.has_previous %}
        <li class="">
      {% else %}
        <li class="disabled">
      {% endif %}
          <a class="" href="?page=1">
            Newest
          </a>
        </li>
    {% endif %}
    {% if page_obj.has_previous %}
      <li class="">
        <a class="" href="?page={{ page_obj.previous_page_number }}">
    {% else %}
      <li class="disabled">
        <a class="" href="#">
    {% endif %}
          Newer
        </a>
      </li>
    {% if page_obj.has_next %}
      <li class="">
        <a class="" href="?page={{ page_obj.next_page_number }}">
    {% else %}
      <li class="disabled">
        <a class="" href="#">
    {% endif %}
          Older
        </a>
      </li>
    {% if page_obj.has_other_pages %}
      {% if page_obj.has_next %}
        <li class="">
      {% else %}
        <li class="disabled">
      {% endif %}
          <a class="" href="?page={{ page_obj.paginator.num_pages }}">
            Oldest
          </a>
        </li>
    {% endif %}
  </ul>
</nav>
{% endcomment %}