<div class="mx-auto">
  <img
    src="{{ user.gravatar }}"
    alt="Gravatar of {{ target.email }}"
    class="rounded mx-auto mt-4"
  />
  <h3 class="mx-auto text-center pt-4 font-bold text-gray-700">{{ user.full_name }}</h3>
  <p class="mx-auto text-center text-indigo-600">{{ user.username }}</p>

  <form action="{% url 'follow_toggle' user_id=user.id %}" method="get">
      <div class="flex space-x-4 mx-auto justify-center">
        <p class="text-gray-600">{{ user.followee_count }} Following</p>
        <p class="text-gray-600">{{ user.follower_count }} Followers</p>
      </div>
      <div>
        {% if followable %} 
          {% if following %}
            <button class="">Unfollow</button>
          {% else %}
            <button class="">Follow</button>
          {% endif %} 
        {% endif %}
      </div>
  </form>

  <!-- TODO: show this when logged in as the user only?-->
  <p class="text-center">{{ user.email }}</p>

  {% if club %}
    <a
      class="rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700"
      href="{% url 'full_calendar' calendar_slug=club.calendar.slug %}"
    >
      Club Events
    </a>
  {% endif %} 
  
  {% if club %}
    <h5>Club name:</h5>
    <p>{{ club.name }}</p>
    <h5>Membership Type:</h5>
    <p>{{ type }}</p>
  {% endif %} 

  {% if target.is_applicant %}
    <h5>Bio:</h5>
    <p>{{ target.bio }}</p>
  {% endif %} 

  {% if user in club.owner_list or user == club.owner %}
    <div class="">
      <h5>Bio:</h5>
      <p>{{target.bio}}</p>
    </div>
  {% endif %}
  
  {% if club %} 
    {% include "partials/user_profile_operations.html"
    with club=club target=target %} 
  {% endif %}
</div>
