{% extends 'base_content.html' %}
{% block content %}
<div class="border border-gray-100/50 shadow-lg m-8 bg-white rounded-xl">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="py-4 text-2xl leading-6 font-bold text-gray-900 border-b mb-4">Set a new password</h3>
  </div>
{% if validlink %}
  <div class="my-4 mx-4 border-t px-4 pb-1">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <div class="flex flex-row-reverse items-end gap-10">
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="cursor: pointer;" type="submit" value="Submit">
      </div>
    </form>
    {% else %}

    <p class="mt-1 max-w-2xl text-xl text-gray-700">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>



{% endblock %}
